@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-SemiBold.woff2') format('woff2'),
        url('../fonts/Roboto-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}


@function pxToRem($px, $base: 16) {
    @return ($px / $base) * 1rem;
}

$brand-color: #F04D44;

/* Обнуление стилей (Reset CSS) */

/* Убираем отступы, поля и рамки для всех элементов */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    /* Для корректного расчета размеров с padding и border */
}

/* Сбрасываем стили шрифтов и наследование */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-size: 100%;
    vertical-align: baseline;
}

/* Убираем подчеркивание у ссылок */
a {
    text-decoration: none;
    color: inherit;
    /* Наследуем цвет текста от родителя */
}

/* Сбрасываем стили списков */
ol,
ul {
    list-style: none;
}

/* Убираем кавычки у blockquote и q */
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/* Сбрасываем стили таблиц */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Убираем стандартные рамки у кнопок и элементов форм */
button,
input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    /* Наследуем шрифт */
    font-size: inherit;
    /* Наследуем размер шрифта */
    color: inherit;
    /* Наследуем цвет текста */
}

/* Убираем стрелочки у input type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стандартный стиль placeholder */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: inherit;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: inherit;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: inherit;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: inherit;
}

/* Сбрасываем курсор для отключенных элементов */
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    cursor: default;
}

/* Убираем выделение при клике (для некоторых браузеров) */
*:focus {
    outline: none;
}

/* Дополнительные сбросы для HTML5 семантических элементов */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Сбрасываем встроенные аудио и видео элементы */
audio,
video {
    display: inline-block;
}

/* Предотвращаем выделение текста при двойном клике */
// *,
::before,
::after {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard */
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    background: #fff;
    color: #3E434A;
}

body {
    width: 100%;
    padding: 0;
}

/* Базовые стили для контейнера */
.container {
    width: 100%;
    // max-width: 1380px;
    max-width: 1860px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}


.header-top {
    border-bottom: 1px solid #ECEEF0;
}

.header-top__wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lang-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    &.active {
        font-weight: 600;
        color: $brand-color;
    }
}


.header__info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    span {
        display: block;
    }
}

.info-link-ico {
    margin-top: -2px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}


.header__logo {
    width: 65px;
    height: 50px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header-bottom {
    border-bottom: 1px solid #ECEEF0;
}

.header-bottom__wrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
        display: block;
        padding: 12px 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $brand-color;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &:hover::before {
            opacity: 1;
        }

        &.active {
            color: $brand-color;
        }
    }
}

.header-search {
    width: 24px;
    height: 24px;
    margin-left: 15px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.main-screen {
    position: relative;
}

.main-screen-bg {
    position: relative;
    height: 0;
    // padding-top: 40.3%;
    padding-top: 29.3%;
    min-height: 580px;

    &::before {
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 0;
        content: '';
        border: 94px solid transparent;
        border-right: 94px solid $brand-color;
        border-bottom: 94px solid $brand-color;
    }
}

.main-screen-bg-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .swiper-slide {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.main-screen__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.main-screen__title {
    padding-left: 30px;
    font-family: "Roboto Condensed";
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.32px;
    text-transform: uppercase;
    margin-top: 88px;
    // margin-bottom: 79px;
    margin-bottom: auto;

    div {
        display: flex;
        width: min-content;
    }

    span {
        width: min-content;
        background-color: #fff;
        padding: 10px 20px;
        display: inline-block;
    }
}


.partners-slider {
    border-bottom: 1px solid #ECEEF0;

    .swiper-slide {
        padding: 20px;
        width: fit-content;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 2px;
            background-color: $brand-color;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        img {
            width: 107px;
            height: 107px;
            object-fit: contain;
            object-position: center;
            filter: grayscale(1);
            transition: filter .3s ease-in-out;

        }


        &:hover {
            &::before {
                opacity: 1;
            }

            img {
                filter: grayscale(0);
            }
        }
    }
}


.arrow-title {
    width: fit-content;
    color: #3E434A;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    transition: color .3s ease-in-out;

    &:hover {
        color: $brand-color;

        svg path {
            stroke: $brand-color;
        }
    }
}

.arrow-title-ico {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 100%;
        height: 100%;

        path {
            transition: stroke .3s ease-in-out;
        }
    }
}

.combined-section {
    padding-top: 40px;
    padding-bottom: 50px;
}

.combined-section__wrapper {
    display: flex;
    align-items: stretch;
    gap: 40px;
}

.graphs-block {
    min-width: calc(50% - 20px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.news-list {
    border: 1px solid #ECEEF0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-block {
    display: flex;
    flex-direction: column;
}

.news-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    // height: 76px;
    padding: 16px 20px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 1px;
        height: 2px;
        width: 100%;
        background-color: $brand-color;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &:not(:last-child) {
        border-bottom: 1px solid #ECEEF0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .news-item__name {
            color: $brand-color;
        }
    }
}

.news-item__date {
    color: #A3A9B2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.news-item__name {
    color: #3E434A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: color .3s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.highcharts-credits {
    display: none;
}


.graphs {
    padding: 30px;
    padding-bottom: 40px;
    border: 1px solid #ECEEF0;
    display: flex;
    flex-direction: column;
}

.graphs-block__wrapper {
    display: flex;
    height: 100%;
}

#container-pie {
    height: 250px;
    width: 250px;
}

#container-bar {
    height: 250px;
    width: 250px;
    margin-top: -20px;
    border-bottom: 1px solid #ECEEF0;
}

.graphs-visual {
    display: flex;
    align-items: center;
}

.graphs-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.graphs-info__item {
    display: flex;
    align-items: center;
    color: #A3A9B2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    gap: 10px;

    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: block;
        flex-shrink: 0;
    }
}

.data-blocks {
    width: 100%;
}

.data-block {
    height: 50%;
    padding: 35px 40px;
    border: 1px solid #eceef0;
    border-left: none;

    &:first-child {
        border-bottom: none;
    }
}

.data-block__val {
    color: #3E434A;
    font-family: "Roboto Condensed";
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: 29px;
        line-height: 100%;
        display: block;
    }
}

.data-block__descr {
    color: #3E434A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.graphs-block__footer {
    margin-top: auto;
    width: 100%;
    padding: 4px;
    // color: #A3A9B2;
    color: #3e434a;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background: #EBEDEF;
    text-align: center;
}

.map-image {
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    display: block;
    // min-height: 400px;
    min-height: 505px;
}

.map-descr {
    display: flex;
    width: 100%;
    color: #fff;
}

.map-descr__item {
    width: 50%;
    padding: 20px;
    background: #3E434A;
    display: flex;
    flex-direction: column;

    &:first-child {
        background-image: url(../img/bg-shape.svg);
        background-repeat: no-repeat;
        background-position: top left;
    }

    &:last-child {
        background-color: $brand-color;
        background-image: url(../img/rectangle.svg);
        background-repeat: no-repeat;
        background-position: top left;
    }
}

.item-top {
    display: flex;
    gap: 14px;
    margin-bottom: 32px;
}

.item-top__coll {
    width: calc(33.33% - 9.333px);
}

.item-bottom {
    margin-top: auto;
    border-top: 1px solid #ECEEF0;
    padding-top: 10px;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.item-top__coll {
    font-family: "Roboto Condensed";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    span {
        font-family: 'Roboto';
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
    }
}

.links-section {
    padding: 50px 0;
}

.links-section__map {
    width: calc(67.165% - 20px);
    flex-shrink: 0;
}


.links-section__wrapper {
    display: flex;
    gap: 40px;
}

.links-section__coll {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .coll-item {
        height: calc(50% - 20px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .arrow-title {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding: 30px;
        background: linear-gradient(180deg, #EBEDEF 0%, rgba(235, 237, 239, 0.00) 100%);
    }

    .title-name {
        font-size: 28px;
    }

    .arrow-title-ico {
        width: 24px;
        height: 24px;
    }
}

.application {
    padding: 50px 0;

    .title-wrapper {
        padding-top: 30px;
        border-top: 1px solid #ECEEF0;
    }
}

.application-slide {
    display: flex;
    align-items: stretch;

    h4 {
        color: #FFF;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    ul {
        color: #ECEEF0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 6px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;

        div {
            width: calc(50% - 3px);
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        li {
            line-height: 140%;
            display: flex;
            gap: 12px;

            &::before {
                flex-shrink: 0;
                margin-top: 10px;
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #ECEEF0;
            }
        }
    }

    .color-list {
        gap: 5px;

        li {
            font-weight: 400;
            width: 100%;
            font-size: 14px;
            align-items: center;

            &::before {
                margin-top: 0;
                width: 8px;
                height: 8px;
            }

            &:nth-child(1)::before {
                background-color: #3A7EE3;
            }

            &:nth-child(2)::before {
                background-color: #69D354;
            }

            &:nth-child(3)::before {
                background-color: #FFA148;
            }
        }
    }
}

.application-slide__right {
    // width: 446px;
    width: 580px;
    background: #3E434A;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
}

.application-slide__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.application-slide__title {
    color: #3E434A;
    font-family: "Roboto Condensed";
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #FFF;
}


.swiper-button-prev,
.swiper-button-next {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #3E434A;
    position: static;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    &::after {
        display: none;
    }
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.3223 19.301L22.4998 12.1235L15.3223 4.94604' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M21.5198 12.1247H3.24977' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}


.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.67774 5.19896L2.50024 12.3765L9.67773 19.554' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.48024 12.3753L21.7502 12.3753' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.slider-arrow {
    display: flex;
    gap: 10px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .arrow-title {
        margin-bottom: 0;
    }
}

.cards-section {
    padding: 50px 0;

    .title-wrapper {
        padding-top: 30px;
        border-top: 1px solid #ECEEF0;

    }
}


.cards-section__list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ECEEF0;

    .list-item {
        width: 33.333%;
        min-height: 310px;
        border: 1px solid #ECEEF0;
        padding: 30px 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .list-item__date {
        color: #A3A9B2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .list-item__val {
        color: #3E434A;
        font-family: "Roboto Condensed";
        font-size: 84px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        span {
            display: inline-block;
            line-height: 100%;
            font-size: 34px;
        }
    }

    .list-item__text {
        color: #3E434A;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin: 10px 0;
    }

    .list-item__descr {
        color: #A3A9B2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    ._gray-card {
        background-color: #3E434A;

        * {
            color: #fff;
        }
    }

    ._red-card {
        background-color: $brand-color;

        * {
            color: #fff;
        }
    }
}


.toggle-item__head {
    display: flex;
    padding: 30px 0;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.toggle-item__name {
    max-width: 400px;
    color: #3E434A;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}

.toggle-item__ico {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    transition: opacity .3s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
    }
}

.toggle-item__arrow {
    flex-shrink: 0;
    margin-left: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 14.5L11.5 6.5L19 14.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}

.toggle-item__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toggle-item__image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.toggle-item__inner {
    color: #3E434A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 66%;
    display: flex;
    align-items: flex-end;
    gap: 70px;
    margin-left: auto;

    .toggle-item__ico {
        position: static;
        transform: none;
    }

    opacity: 0;
    transition: opacity .3s ease-in-out,
    margin-top .3s ease-in-out;
}


.toggle-item {
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
    border-bottom: 1px solid #ECEEF0;
    width: 100%;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        content: '';
        background-color: #fff;
        transition: background-color .3s ease-in-out;
        border-bottom: 1px solid #fff;

    }

    &::before {
        left: 0;
        transform: translateX(-100%);
    }

    &::after {
        right: 0;
        transform: translateX(100%);
    }

    &.open {
        background-color: #ECEEF0;
        border-color: #fff;

        &::before,
        &::after {
            background-color: #ECEEF0;
        }

        .toggle-item__arrow {
            transform: rotate(0deg);
        }

        .toggle-item__head {
            .toggle-item__ico {
                opacity: 0;
            }
        }
    }

    &.open-finish {
        .toggle-item__inner {
            opacity: 1;
        }
    }
}


.toggle-item__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F04D44;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    span {
        display: block;
        width: 24px;
        height: 24px;
    }
}


.toggle-item__body {
    display: none;
    padding-bottom: 30px;
}

.toggle-section {
    max-width: 100vw;
    overflow: hidden;
    padding: 50px 0;
}

.quotation-section {
    padding: 50px 0;
}

.quotation-section {
    padding: 50px 0;
}

.quote-section {
    padding: 50px 0;
}

.quote-block {
    position: relative;
    overflow: hidden;
    background: #ECEEF0;
    padding: 60px;
    color: #3E434A;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-left: 290px;
}

.quote-block__content {
    position: relative;
    z-index: 2;
}

.quote-block__image {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-38%, -38%);
}

.quote-block__descr {
    margin-top: 20px;
    color: #A3A9B2;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}


.quotation {
    padding: 40px;
    border: 1px solid #ECEEF0;
    width: 100%;
    position: relative;
}

.quotation-in-dev {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
}

.quotation-in-dev__text {
    color: #FFF;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.52px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background: #3E434A;
    padding: 10px;
}

.quotation__title {
    color: #3E434A;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.quotation-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.quotation-row {
    display: flex;
    align-items: center;
    color: #3E434A;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.quotation-val {
    margin-left: auto;
    margin-right: 20px;
    color: #3E434A;
    font-family: "Roboto Condensed";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


.quotation-index {
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    align-items: center;
    gap: 3px;

    &::before {
        flex-shrink: 0;
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &.down {
        color: #F04D44;

        &::before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.13397 9C5.51887 9.66667 6.48113 9.66667 6.86603 9L9.4641 4.5C9.849 3.83333 9.36788 3 8.59808 3H3.40192C2.63212 3 2.151 3.83333 2.5359 4.5L5.13397 9Z' fill='%23F04D44'/%3e%3c/svg%3e ");
        }
    }

    &.up {
        color: #51B66E;

        &::before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.13397 4C5.51887 3.33333 6.48113 3.33333 6.86603 4L9.4641 8.5C9.849 9.16667 9.36788 10 8.59808 10H3.40192C2.63212 10 2.151 9.16667 2.5359 8.5L5.13397 4Z' fill='%2351B66E'/%3e%3c/svg%3e ");
        }
    }
}


.quotation-news {
    flex-shrink: 0;
    // width: 420px;
    width: 570px;
    background-color: #3E434A;
    padding: 20px;
    display: block;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    flex-direction: column;
}

.inner-video {

    .quotation-news__image,
    .media-slide__image {
        &:before {
            content: '';
            position: absolute;
            right: 2px;
            bottom: 2px;
            width: 24px;
            height: 24px;
            background-image: url(../img/video-nameplate.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}



.quotation-news__image {
    position: relative;
    height: 240px;
    width: 100%;
    margin-bottom: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.quotation-news__name {
    margin-bottom: 10px;
    font-size: 28px;
    text-transform: uppercase;
}

.quotation-news__more {
    margin-top: auto;
}

.quotation__wrapper {
    display: flex;
    gap: 40px;
}


.media-slide__image {
    position: relative;
    height: 240px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.media-section {
    padding: 50px 0;

    .title-wrapper {
        padding-top: 30px;
        border-top: 1px solid #ECEEF0;
    }
}

.media-slide {
    padding: 20px;
    border: 1px solid #ECEEF0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 455px;
    color: #3E434A;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    height: auto;

    &:not(:last-child) {
        border-right: none;
    }
}

.media-section__slider {
    margin-right: -1px;
    margin-left: -1px;
}

.media-slide__name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 24px;
}

.media-slide__date {
    color: #A3A9B2;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: auto;
    padding-top: 10px;
}


.mailing-section {
    padding: 60px 0;
    background-color: $brand-color;
    background-image: url(../img/mailing-bg.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.mailing-section__wrapper {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.mailing-section__form {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    // max-width: 390px;
    max-width: 460px;
    width: 100%;
    margin-left: 40px;
}

.agree-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


.input-label {
    background-color: #fff;
    display: flex;
    margin-bottom: 10px;


    input {
        color: #3E434A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding: 12px 15px;
        width: 100%;

        &.err {
            color: red;
        }
    }

    button {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        background-color: $brand-color;
        border: 1px solid #fff;
        margin-left: auto;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.1818 14.9684L19.1818 4.81787L9.03125 4.81787' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M18.4891 5.51172L5.57031 18.4306' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
        cursor: pointer;
    }
}

.agree-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 100%;

    input {
        display: block;
        width: 16px;
        height: 16px;
        background-color: #fff;
        margin-bottom: 2px;

        &:checked {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4.67999L4.81799 9.5L11 1.5' stroke='%23F04D44' stroke-width='2'/%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: center;
        }

    }
}

.mailing-section__hot-line {
    padding: 22px 32px;
    border: 2px solid #FFF;
    display: flex;
    align-items: center;
    gap: 36px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    margin-left: auto;
}


.footer {
    background-color: #3E434A;
}


.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer__coll {
    width: 25%;
    padding: 50px 40px;

    &:not(:last-child) {
        border-right: 1px solid rgba(236, 238, 240, 0.2);
    }
}

.footer__bottom {
    padding: 20px 0;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-top: 1px solid rgba(236, 238, 240, 0.2);
}


.footer__logo {
    width: 168px;
    height: 60.316px;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.footer__nemu-item {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.footer__blue-link {
    display: block;
    // color: #3A7EE3;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;


    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.b-color {
    color: $brand-color;
}

.footer__link {
    display: block;
    text-align: right;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.mailing-section__title {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 120%;
}



.modal-template {
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 67, 74, 0.8);
    display: flex;
    // align-items: center;
    justify-content: center;
    padding: 20px;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.search-modal__content {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background-color: #FFF;
    height: fit-content;
    margin: auto;
}

.search-input {
    padding: 18px 28px;
    border: 1px solid #A3A9B2;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 685px;
    width: 100%;
    display: block;

    &::placeholder {
        color: #A3A9B2;
    }
}

.search-modal__form {
    display: flex;
    gap: 10px;
}

.search-btn {
    cursor: pointer;
    width: 76px;
    height: 70px;
    background-color: #F04D44;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.63746 13.1286C3.04837 14.0954 3.6457 14.9719 4.39534 15.708C5.14498 16.444 6.03226 17.0252 7.00651 17.4183C7.98076 17.8114 9.0229 18.0088 10.0734 17.9992C11.124 17.9895 12.1623 17.7731 13.1292 17.3622C14.0961 16.9513 14.9725 16.3539 15.7086 15.6043C16.4446 14.8547 17.0258 13.9674 17.4189 12.9931C17.812 12.0189 18.0094 10.9767 17.9998 9.92621C17.9902 8.87568 17.7737 7.83734 17.3628 6.87046C16.9519 5.90358 16.3545 5.0271 15.6049 4.29107C14.8553 3.55504 13.968 2.97387 12.9937 2.58074C12.0195 2.18761 10.9773 1.99022 9.92682 1.99985C8.87628 2.00947 7.83794 2.22592 6.87105 2.63684C5.90417 3.04775 5.0277 3.64508 4.29167 4.39473C3.55564 5.14437 2.97447 6.03164 2.58134 7.00589C2.18821 7.98014 1.99083 9.02228 2.00046 10.0728C2.01009 11.1233 2.22654 12.1617 2.63746 13.1286Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.0001 15.9995L22.0001 21.9995' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.search-modal__close {
    cursor: pointer;
    width: 76px;
    height: 70px;
    background-color: #ECEEF0;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27 5L5 27' stroke='%23F04D44' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M5 5L27 27' stroke='%23F04D44' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.hot-line-modal {
    padding: 20px;
}

.hot-line__form {
    height: fit-content;
    padding: 40px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 725px;
    width: 100%;
    position: relative;
    margin: auto;
}

.hot-line__field {
    padding: 18px 28px;
    border: 1px solid #A3A9B2;
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    &::placeholder {
        color: #A3A9B2;
    }

    &.error {
        border-color: red
    }
}

.hot-line__name {
    color: #3E434A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 6px;
}

.hot-line__title {
    color: #3E434A;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}

.hot-line__close {
    cursor: pointer;
    right: 0;
    top: 0;
    position: absolute;
    width: 76px;
    height: 76px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27 5L5 27' stroke='%23F04D44' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M5 5L27 27' stroke='%23F04D44' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

textarea.hot-line__field {
    resize: vertical;
    min-height: 140px;
}


.hot-line__btn {
    width: fit-content;
    border: 1px solid #ECEEF0;
    background-color: #F04D44;
    padding: 10px 24px;
    color: #FFF;
}

.result-message {
    background-color: #EF4D44;
    margin: auto;
    padding: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 690px;
    width: 100%;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='322' height='282' viewBox='0 0 322 282' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.1'%3e%3cpath d='M0.000978947 322L0.000993022 161.001L161 161.001L0.000978947 322Z' fill='white'/%3e%3cpath d='M2.38419e-06 160.998L1.64592e-05 -0.00126291L160.999 -0.00124884L2.38419e-06 160.998Z' fill='white'/%3e%3cpath d='M160.996 160.998L160.996 -0.00126291L321.995 -0.00124884L160.996 160.998Z' fill='white'/%3e%3c/g%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: left top;
}

.result-message-ico {
    width: 80px;
    height: 80px;
}

.result-message-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 76px;
    height: 70px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27 5L5 27' stroke='white' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M5 5L27 27' stroke='white' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
}

.error-text {
    color: red;
    margin: 5px 0;
    display: none;
}

.hot-line__field.error+.error-text {
    display: block;
}

.swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 10px 0;
    display: none;
    height: fit-content !important;

    .swiper-pagination-bullet {
        transition: all .3s ease-in-out;
        width: 5px;
        height: 5px;
        background-color: transparent;
        border: 1px solid #000;
        opacity: 1 !important;
        margin: 0 !important;


        &.swiper-pagination-bullet-active {
            transform: scale(1.4);
            border-color: $brand-color;
            background-color: $brand-color;
        }
    }
}


@media (max-width: 1860px) {
    .map-image {
        min-height: 30vw;
    }
}

@media (max-width: 1440px) {
    .links-section__coll .title-name {
        font-size: 22px;
    }

    .links-section__coll .arrow-title {
        padding: 10px;
    }

    .header-menu a {
        padding: 12px 20px;
    }

    .info-link,
    .lang-link {
        font-size: 16px;
    }

    .main-screen-bg::before {
        border: 64px solid rgba(0, 0, 0, 0);
        border-right: 64px solid #f04d44;
        border-bottom: 64px solid #f04d44;
    }
}


@media (max-width: 1280px) {
    .main-screen__title {
        font-size: 56px;
    }

    .main-screen__title div {
        display: block;
    }

    .main-screen__title {
        margin: 50px 0;
    }

    // .main-screen-bg {
    //     min-height: 50vw;
    // }

    .header-menu a {
        padding: 12px;
    }

    .combined-section__wrapper {
        flex-direction: column;
    }

    .links-section__wrapper {
        flex-direction: column;
    }

    .links-section__map {
        width: 100%;
    }

    .map-image {
        min-height: 40vw;
    }

    .links-section__coll {
        flex-direction: row;
    }

    .links-section__coll .coll-item {
        width: 50%;
        height: 25vw;
    }

    .links-section__wrapper {
        gap: 20px;
    }

    .links-section__coll {
        gap: 20px;
    }

    .application-slide__title {
        font-size: 42px;
        padding: 15px 5px;
    }

    .application-slide__right {
        padding: 30px;
    }

    .toggle-item__image {
        display: none;
    }

    .toggle-item__inner {
        margin-top: 0 !important;
        margin-left: 0;
        width: 100%;
    }

    .toggle-item__inner .toggle-item__ico {
        display: none;
    }

    .toggle-item__name {
        font-size: 32px;
        max-width: inherit;
        padding-left: 50px;
    }

    .toggle-item__ico {
        left: 0px;
        top: 50%;
        width: 35px;
        height: 35px;
        transform: translateY(-50%);
    }

    .toggle-item.open .toggle-item__head .toggle-item__ico {
        opacity: 1;
    }

    .quote-block {
        padding: 20px;
        padding-top: 250px;
    }

    .quotation-in-dev__text {
        font-size: 56px;
    }

    .quotation__wrapper {
        flex-direction: column;
    }

    .quotation-news {
        width: 100%;
    }

    .mailing-section__title {
        font-size: 26px;
    }

    .mailing-section__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .mailing-section__hot-line {
        margin: 0;
    }

    .agree-label {
        justify-content: center;
    }

    .mailing-section__title {
        text-align: center;
    }
}

.header-mob {
    display: none;
}

.header-mob__menu {
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    position: fixed;
    left: 0;
    width: 100%;
    top: 61px;
    height: calc(100vh - 61px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    // z-index: 999;
    transition: all .3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible
    }

    .header-menu {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: flex-start;

        a {
            padding: 14px 10px;
            color: #3E434A;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            border-bottom: 1px solid #ECEEF0;
            width: 100%;
        }
    }

    .header__info {
        padding: 30px 20px 20px;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 12px;
    }

    .lang-links {
        padding: 0px 20px 20px;
        margin-top: auto;
    }
}


@media (max-width: 1180px) {

    .header-top,
    .header-bottom {
        display: none;

    }

    .header-mob {
        background-color: #fff;
        z-index: 999;
        width: 100%;
        position: fixed;
        top: 0;
        display: block;
        border-bottom: 1px solid #ECEEF0;
        padding: 10px 0;

        .header-mob__wrapper {
            display: flex;
            justify-content: space-between;
        }

        .header__logo {
            display: block;
            height: 40px;
            width: auto;
        }

        .header-search {
            margin-left: 0;
            width: 40px;
            height: 40px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.63733 13.1286C3.04825 14.0954 3.64558 14.9719 4.39522 15.708C5.14486 16.444 6.03214 17.0252 7.00639 17.4183C7.98063 17.8114 9.02277 18.0088 10.0733 17.9992C11.1238 17.9895 12.1622 17.7731 13.1291 17.3622C14.0959 16.9513 14.9724 16.3539 15.7085 15.6043C16.4445 14.8547 17.0257 13.9674 17.4188 12.9931C17.8119 12.0189 18.0093 10.9767 17.9997 9.92621C17.99 8.87568 17.7736 7.83734 17.3627 6.87046C16.9518 5.90358 16.3544 5.0271 15.6048 4.29107C14.8551 3.55504 13.9679 2.97387 12.9936 2.58074C12.0194 2.18761 10.9772 1.99022 9.92669 1.99985C8.87616 2.00947 7.83781 2.22592 6.87093 2.63684C5.90405 3.04775 5.02757 3.64508 4.29154 4.39473C3.55551 5.14437 2.97434 6.03164 2.58122 7.00589C2.18809 7.98014 1.99071 9.02228 2.00034 10.0728C2.00996 11.1233 2.22642 12.1617 2.63733 13.1286Z' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16 15.9995L22 21.9995' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .header-menu-btn {
            width: 40px;
            height: 40px;
            background-size: 24px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 6H21' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3 12H21' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3 18H21' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            background-position: center;

            &.open {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.3674 5.63947L5.63951 18.3674' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M5.63599 5.63605L18.3639 18.364' stroke='%233E434A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
            }
        }
    }

}


@media (max-width: 992px) {
    .arrow-title {
        font-size: 28px;
    }

    .arrow-title-ico {
        width: 30px;
        height: 30px;
    }

    .graphs-block__wrapper {
        flex-direction: column;
    }

    .graphs-visual,
    .graphs-info {
        justify-content: center;
    }

    .data-blocks {
        display: flex;
        justify-content: center;

        .data-block {
            width: 50%;
            height: auto;

            &:first-child {
                border: 1px solid #eceef0;
            }
        }
    }

    .application-slide {
        flex-direction: column;
    }

    .application-slide__right {
        width: 100%;
    }

    .application-slide__left {
        min-height: 60vw;
    }

    .cards-section__list .list-item {
        width: 50%;
    }

    .footer__coll {
        width: 50%;
    }

    .footer__coll {
        // border-right: none;
        border-right: 1px solid rgba(236, 238, 240, .2);
    }

    .footer__nemu-item {
        text-align: right;
    }
}



@media (max-width: 576px) {
    .agree-label {
        justify-content: flex-start;
    }

    .main-screen {
        margin-top: 61px;
    }

    .swiper-pagination {
        display: flex;
    }

    .combined-section__wrapper {
        gap: 20px;
    }

    #container-pie,
    #container-bar {
        width: 50%;

        height: 40vw;

        text {
            font-size: 12px !important;
        }
    }

    .main-screen__title {
        font-size: 29px;
        padding-left: 0;
    }

    .main-screen-bg {
        min-height: 250px;
    }

    .main-screen-bg::before {
        border: 35px solid rgba(0, 0, 0, 0);
        border-right: 35px solid #f04d44;
        border-bottom: 35px solid #f04d44;
    }

    .partners-slider .swiper-slide {
        padding: 15px;
        flex-shrink: 0;

        img {
            width: 45px;
            height: 45px;
            filter: none;
        }
    }

    .partners-slider {
        .swiper-wrapper {
            flex-wrap: wrap;
        }
    }

    .main-screen__title span {
        padding: 0px 8px;
    }

    .main-screen__title {
        padding: 4px 8px;
    }

    .arrow-title {
        font-size: 22px;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
    }

    .arrow-title-ico {
        height: 22px;
        width: 22px;
    }

    .news-item__name {
        font-size: 16px;
    }

    .news-item__date {
        font-size: 18px;
    }

    .news-item {
        flex-direction: column;
        padding: 10px;
    }

    .data-block {
        padding: 20px;
    }

    .data-block__val {
        font-size: 40px;
    }

    .data-block__val span {
        font-size: 24px;
    }

    .data-block__descr {
        font-size: 12px;
    }

    .graphs {
        padding: 20px;
    }

    .graphs-info {
        margin-top: 10px;
    }

    .graphs-info__item {
        font-size: 10px;
    }

    .graphs-block__footer {
        font-size: 12px;
    }

    .map-descr {
        flex-direction: column;
    }

    .map-descr__item {
        width: 100%;
    }

    .item-top__coll {
        font-size: 34px;
    }

    .item-top__coll span {
        font-size: 10px;
    }

    .item-top {
        margin-bottom: 10px;
    }

    .item-bottom {
        font-size: 18px;
    }

    .map-descr__item:last-child {
        background-size: 35px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-1.27157e-06 28V-1.27157e-06H28L-1.27157e-06 28Z' fill='%2351555C'/%3e%3c/svg%3e ");
    }

    .links-section__coll {
        flex-direction: column;
    }

    .links-section__coll .coll-item {
        width: 100%;
        height: 50vw;
    }

    .slider-arrow {
        display: none;
    }

    .application-slide__left {
        padding: 10px;
    }

    .application-slide__title {
        font-size: 29px;
        padding: 4px 8px;
    }

    .application-slide__right {
        padding: 20px;
    }

    .application-slide h4 {
        font-size: 24px;
        text-transform: none;
    }

    .cards-section__list .list-item {
        padding: 10px;
        min-height: 40vw;
    }

    .cards-section__list .list-item__val {
        font-size: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .cards-section__list .list-item__val span {
        font-size: 24px;
    }

    .cards-section__list .list-item__text {
        font-size: 12px;
    }

    .cards-section__list .list-item__descr {
        font-size: 12px;
    }

    .cards-section__list .list-item__date {
        font-size: 10px;
    }

    .toggle-item__name {
        font-size: 22px;
    }

    .toggle-item__head {
        align-items: center;
    }

    .toggle-item__inner {
        font-size: 12px;
    }

    .toggle-item__head {
        padding: 20px 0;
    }

    .map-image {
        padding: 10px;
    }

    .map-image {
        min-height: 55vw;
    }

    .title-wrapper {
        margin-bottom: 15px;
    }

    .quote-block {
        font-size: 18px;
    }

    .quote-block__descr {
        font-size: 16px;
    }

    .media-slide {
        width: calc(100% - 1px);
    }

    .quotation-news__name {
        font-size: 24px;
    }

    .quotation-news__name {
        font-size: 20px;
    }

    .media-section .title-wrapper {
        padding-top: 0;
        border-top: none;
    }


    .combined-section,
    .links-section,
    .application,
    .cards-section,
    .toggle-section,
    .quote-section,
    .quotation-section,
    .media-section {
        padding: 20px 0;
    }

    .footer__wrapper {
        flex-direction: column;
        padding: 0px 30px;
    }

    .footer__coll {
        border: none !important;
        width: 100%;
        padding: 30px 0;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(236, 238, 240, 0.2) !important;
        }
    }

    .footer__nemu-item,
    .footer__link {
        text-align: left !important;

    }

    .mailing-section {
        padding: 30px 0;
    }

    .mailing-section__form {
        margin: 0;
        padding: 0;
    }

    .hot-line__form {
        padding: 20px;
        gap: 20px;
    }

    .hot-line__title {
        font-size: 24px;
    }

    .hot-line__field {
        padding: 15px;
        font-size: 20px;
    }

    .hot-line-modal {
        padding: 10px;
    }

    .quotation-in-dev__text {
        font-size: 30px;
    }

    .quotation {
        padding: 20px;
    }

    .quotation__title {
        font-size: 22px;
    }

    .quotation-row {
        font-size: 18px;
    }

    .quotation-val {
        font-size: 18px;
    }

    .quotation-index {
        font-size: 16px;
    }

    .mailing-section__title {
        text-align: left;
    }

    .mailing-section__hot-line {
        width: 100%;
        justify-content: space-between;
        padding: 22px 32px;
    }

    .media-slide__image,
    .quotation-news__image {
        height: 56vw;
    }

    .quotation__wrapper {
        gap: 20px;
    }

    .partners-slider .swiper-slide {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-template {
        padding: 10px;
    }

    .search-modal__content {
        padding: 10px;
    }

    .search-input {
        padding: 10px;
        font-size: 16px;
        line-height: 100%;

    }

    .search-btn,
    .search-modal__close {
        width: 44px;
        height: 44px;
        background-size: 20px;
        flex-shrink: 0;
    }

    .result-message {
        padding: 20px;
        font-size: 22px;
    }
}